.slider {
  height: 12rem;
  width: 2rem;
}

.slider > input {
  height: 100%;
  width: 100%;
  /* transform: translate(-50%, -50%) rotate(270deg); */
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}

